<div id="head">
    <h1> Book Collection
</div>
<div id="body">
    <div id="bookview">
        <p> View all books here </p>
    </div>
    <div id="CRUDHUD">
        <p> -- C R U D -- </p>
        <a href="books/new">New book</a>
        <p> Update book (click from list) </p>
        <p> View book details (click from list) </p>
        <p> Delete book (click from list) </p>
    </div>
</div>